################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/obj
/TestApp/.vs/TestApp
/.vs/TestApp/v16
/TestApp/bin/Debug/net5.0
/TestApp.UnitTests/bin/Debug/net5.0
/TestApp.UnitTests/obj
